<!doctype html>
<html>
  <head>
    <title>racks@tabs</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/water.css@2/out/water.css">
    <script type="text/javascript" src="{{ app_js_url }}"></script>
  </head>
  <body>
    <h1>Hello!</h1>
    <p id="debug-p"></p>
    <p>Below is a table with {{ n_rows }} rows and {{ n_cols }} columns</p>
    <table>
      <tr data-foo="">
        {% for v in first_row.values() %}
          <td>{{ v }}</td>
        {% endfor %}
      </tr>
    </table>
    <p id="post-table-p">this text is at the bottom</>
  </body>
</html>
