<!doctype html>
<html>
  <head>
    <title>racks@tabs</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/water.css@2/out/water.css">
    <script type="text/javascript" src="{{ app_js_url }}"></script>
  </head>
  <body>
    <h1>racks on '{{ csv_path }}' tabs</h1>
    <p id="debug-p"
       style="border: solid 1px red;"></p>
    <p>{{ n_cols }} cols, {{ n_rows }} rows in total.</p>
    <table id="csv-table">
      <tr>
        {% for header in table_headers %}
          <th>{{ header }}</th>
        {% endfor %}
      </tr>
    </table>
    <p id="post-table-p">loading rows...</>
  </body>
</html>
